<div class="center jumbotron">
    <h1>Welcome to the Travo App</h1>
<h2>
    This is the home page for the 
    <a href="https://www.railstutorial.org/">Ruby on Rails
 Tutorial</a>
    Travo application.
</h2>

<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary"%>
</div>
  <ul>
    <li> <%= link_to "Companies", companies_path %></li>
    <li><%= link_to "Guides", guides_path %></li>
   <li><%= link_to "Rentals", rentals_path %></a></li>
  </ul>