<h1> Welcome to our rails app</h1>
<header class="navbar  navbar-inverse">
<div class="navbar-class">
<div class="container">


<!-- Collect the nav links, forms, and other content for toggling -->

  <ul class="nav navbar-nav">
  <li class="active"><a href="">HOME</a></li>
    <li><a href="http://localhost:3000/companies/">COMPANIES</a></li>
    <li><a href="http://localhost:3000/guides">GUIDES</a></li>
   <li><a href="http://localhost:3000/rentals">RENTALS</a></li>
  </ul>


  </div>
 </div>
 </header>